@font-face {
  font-family: 'vazir-regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Vazir-Regular-FD.ttf'); 
  src: local('Vazir'), local('Vazir'),
       url('./assets/fonts/Vazir-Regular-FD.eot') format('embedded-opentype'), 
       url('./assets/fonts/Vazir-Regular-FD.woff2') format('woff2'), 
       url('./assets/fonts/Vazir-Regular-FD.woff') format('woff'), 
       url('./assets/fonts/Vazir-Regular-FD.ttf') format('truetype'), 
}
*{
  font-family: 'vazir-regular','arial','sans-serif';
}

body {
  margin: 0;
  direction: rtl;
  font-family: 'vazir-regular','arial','sans-serif';
}
